<header>
  ランキング/<%= @level.name %>
</header>

<div class="back">
  <%= link_to rankings_path, class: 'nav-link' do %>
    <div><i class="fas fa-arrow-left"></i>戻る</div>
  <% end %>
</div>

<% unless @owner.nil? %>
  <div class="owner-rank-wrapper">
    <div class="owner-rank-content">
      <div class="">
        <%= @own_rank %>
      </div>
      <div class="user_name">
        <%= @owner.user.username %>
      </div>
      <div class="">
        <%= @owner.score %>点
      </div>
    </div>
  </div>
<% end %>

<div class="ranking-wrapper">
  <% @ranks.each_with_index do |rank, i| %>
    <div class="ranking-content">
      <div class="">
        <%= i+1 %>
      </div>
      <div class="user_name">
        <%= rank.user.username %>
      </div>
      <div class="">
        <%= rank.score %>点
      </div>
    </div>
  <% end %>
</div>
