<header>
  ログイン
</header>

<div class="form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form" %>
    </div>
    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form" %>
    </div>

    <div class="form-btn-wrapper">
      <%= f.submit "ログインする", class: "btn form-btn btn-blue" %>
    </div>
  <% end %>
</div>

<div class="help-link-wrapper">新規登録は<%= link_to "こちら", new_user_registration_path, class: "help-link nav-link" %></div>

