<!DOCTYPE html>
<html>
  <head>
    <title>QuizApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  </head>

  <body>
    <div class="for_presentation">
      <h3>タイトル: 画像を用いた語彙学習システムの製作</h3>
      <h3>学習の対象となる言語: クリンゴン語</h3>
    </div>
    <div class="adjust-screen">
      <div class="screen-area">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
