<header>
  新規登録
</header>

<div class="form-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="form-field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form" %>
    </div>

    <div class="form-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form" %>
    </div>

    <div class="form-field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form" %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form" %>
    </div>

    <div class="form-btn-wrapper">
      <%= f.submit "登録", class: "btn form-btn btn-blue" %>
    </div>
  <% end %>
</div>

<div class="help-link-wrapper">ログインは<%= link_to "こちら", new_user_session_path, class: "help-link nav-link" %></div>
